<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/trix.css">
    <link rel="stylesheet" href="/css/app.css">
    <title> devJobs - {{pageName}}</title>
</head>
<body>
    <div class="nombre-sitio contenedor">
        <h1>
            <a href="/">
                devJobs
            </a>
        </h1>
        {{#if bar}}
            <div class="buscador">
                <form action="#">
                    <input type="text" name="" id="" class="buscar">
                    <input type="submit" value="Buscar">
                </form>
            </div>
        {{/if}}
        {{#if logOut}}
            <div class="cerrar-sesion">
                <p>Hola, {{name}}!</p>
                <a href="/admin">Panel de administración</a>
                <a href="/logout">Cerrar sesión</a>
            </div>
        {{/if}}

    </div>

    <header class="site-header contenedor separador">
        <h2>{{pageName}}</h2>
        {{#if tagLine}}
            <p class="tagline">{{tagLine}}</p>
        {{/if}}
        {{#if btn}}
            <a href="/vacancies/new" class="btn btn-azul">Crear nueva vacante</a>
        {{/if}}
    </header>

    <div class="contenido-principal contenedor">

        {{#if msg}}
            <div class="alertas">
                {{#showAlerts msg}}
                {{/showAlerts}}
            </div>
        {{/if}}
        {{{body}}}

    </div>
    <script src="/js/trix.js"></script>
    <script src="/dist/bundle.js"></script>
</body>
</html>