<div class="contenido-superior vacante contenedor">
    <div class="caja">
        <p class="etiqueta">Empresa</p>
        <p class="nombre">{{vacant.company}}</p>
    </div>
    <div class="caja">
        <p class="etiqueta">Ubicación</p>
        <p class="nombre">{{vacant.location}}</p>
    </div>
    <div class="caja">
        <p class="etiqueta">Contrato</p>
        <p class="nombre">{{vacant.contract}}</p>
    </div>
    <div class="caja">
        <p class="etiqueta">Salario</p>
        <p class="nombre"> ${{vacant.salary}}</p>
    </div>
</div>
<div class="vacante-contenedor contenedor">
    <main class="contenido">
        <h2>Descripción del puesto</h2>
        <div class="vacante-descripcion">
            {{{vacant.description}}}
        </div>
        <a href="/vacancies/edit/{{vacant.url}}" class="btn btn-azul editar-btn">Editar</a>
    </main>
    <aside class="sidebar">
        <h2>Conocimientos desables</h2>
        <ul class="skills">
            {{#each vacant.skills as | skill |}}
                <li>{{skill}}</li>
            {{/each}}
        </ul>
    </aside>
</div>
<div class="contenedor datos-reclutador">
    <div class="enviar-datos">
        <h2>Contactar reclutador</h2>
        <p>Completá el formulario, subí tu CV y esperá que te contacten!</p>
        <form action="/vacancies/{{vacant.url}}" method="POST" class="default-form" enctype="multipart/form-data">
            <div class="campo">
                <label>Nombre</label>
                <input type="text" name="name" placeholder="Tu Nombre">
            </div>
            <div class="campo">
                <label>Email</label>
                <input type="email" name="email" placeholder="Tu Email">
            </div>
            <div class="campo">
                <label>CV (PDF)</label>
                <input type="file" name="cv">
            </div>
            <div class="campo"><input type="submit" value="Enviar" class="btn btn-verde"></div>
        </form>
    </div>
    <div class="info-reclutador">
        <h2>Información del reclutador</h2>
        {{#if vacant.author.name}}
            <p>{{vacant.author.name}}</p>
        {{/if}}
        {{#if vacant.author.image}}
            <img src="/upload/profiles/{{vacant.author.image}}" class="admin-perfil" alt="">
        {{/if}}
    </div>
</div>